<html>
  <body>
    <h1>Contact Form</h1>
    <form method="POST" action="/result">
      <table border="1" style="border-collapse:collapse;">
	<tr>
	  <td>Name</td>
	  <td><input type="text" name="Name" /></td>
	</tr>
	<tr>
	  <td>Phone</td>
	  <td><input type="text" name="Phone" /></td>
	</tr>
	<tr>
	  <td>Address</td>
	  <td><input type="text" name="Address" /></td>
	</tr>
      </table>
      <input type="submit" value="Submit" />
    </form>

    <a href="/logout">Logout</a>
  </body>
</html>
